.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-basis: 100%;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 6px 12px;
  border: 1px solid var(--bordercolor);
  border-radius: 8px;
  background-color: var(--primary-faded);
}

.label {
  font-size: var(--text-md);
  font-weight: 500;
  cursor: pointer;
}

.input {
  height: 32px;
  flex-basis: 100%;
  background-color: transparent;
  font-size: var(--text-md);
}

.inputContainer:has(input:focus) {
  box-shadow: var(--primary-background) 0 0 0 6px;
}

.actionIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
