.container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin-bottom: 16px;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 6px 12px;
  border: 1px solid var(--bordercolor);
  border-radius: 8px;
  background-color: var(--primary-faded);
}

.inputContainer.errorBorder {
  border: 1px solid var(--danger);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.label {
  font-size: var(--text-md);
  font-weight: 500;
  cursor: pointer;
}

.input {
  height: 32px;
  flex-basis: 100%;
  background-color: transparent;
  font-size: var(--text-md);
}

.inputContainer:has(input:focus) {
  box-shadow: var(--primary-background) 0 0 0 6px;
}

.errorBorder:has(input:focus) {
  box-shadow: var(--danger-background) 0 0 0 6px;
}

.actionIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.error {
  font-size: var(--text-sm);
  color: var(--danger);
  margin-top: 4px;
  height: 16px;
}

.disabled {
  opacity: 0.5;
}
