.button {
  width: 100%;
  cursor: pointer;
  transition: all ease 0.3s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transform: translateY(-1px);
}

.md {
  padding: 16px;
  font-size: var(--text-lg);
  border-radius: 6px;
  font-weight: 600;
}

.primary.filled {
  background-color: var(--primary);
  border: none;
  color: var(--white);
}

.primary.outlined {
  border: 2px solid var(--primary);
  background-color: var(--background);
  color: var(--primary);
}

.danger.filled {
  background-color: var(--danger);
  border: none;
  color: var(--white);
}

.danger.outlined {
  border: 1px solid var(--danger);
  background-color: var(--background);
  color: var(--danger);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.loading {
  position: relative;
  pointer-events: none;
  overflow: hidden;
}

.loading::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  background-color: currentColor;
  border-radius: inherit;
  opacity: 0.3;
  animation: shimmer 1s linear infinite;
}

@keyframes shimmer {
  0% {
    width: 0;
    left: 0;
  }

  30% {
    width: 70%;
    left: 0;
  }

  70% {
    width: 50%;
    left: 100%;
  }

  100% {
    width: 0;
    left: 100%;
  }
}
