.container {
  display: flex;
  width: 100vw;
  min-height: 100svh;
}

.mainLayout {
  width: calc(100% - 200px);
  background-color: var(--primary-background);
}

.content {
  flex: 1;
  height: calc(100svh - 50px);
  padding: 32px;
}

@media (max-width: 768px) {
  .mainLayout {
    width: 100%;
    background-color: var(--background);
  }
  
  .content{
    height: calc(100svh - 100px);
  }
}
