.container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--border-shadow);
  padding: 0 20px;
}

.menuButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
