#root {
  /* font */
  --text-sm: clamp(12px, 0.6vw, 16px);
  --text-md: clamp(14px, 0.85vw, 18px);
  --text-lg: clamp(16px, 1vw, 20px);
  --text-xl: clamp(20px, 1.75vw, 24px);
  --text-2xl: clamp(24px, 1.85vw, 28px);

  /* colors */
  --black: hsl(0, 0%, 0%);
  --black-faded: hsla(0, 0%, 20%, 0.7);
  --white: hsl(0, 0%, 100%);
  --white-faded: hsla(0, 0%, 100%, 0.7);
  --background: var(--white);
  --text: var(--black);
  --text-faded: var(--black-faded);
  --bordercolor: hsl(0, 0%, 75%);

  --theme: 270;
  --primary: hsl(var(--theme), 100%, 50%);
  --primary-background: hsl(var(--theme), 100%, 95%);
  --primary-faded: hsla(var(--theme), 100%, 99%);

  --red: 0;
  --danger: hsl(var(--red), 100%, 50%);
  --danger-background: hsl(var(--red), 100%, 95%);

  --green: 120;
  --success: hsl(var(--green), 100%, 50%);
  --success-background: hsl(var(--green), 100%, 95%);
}
