#root {
  /* font */
  --text-sm: 12px;
  --text-md: 14px;
  --text-lg: 20px;
  --text-xl: 24px;

  /* colors */
  --black: hsl(0, 0%, 20%);
  --black-faded: hsla(0, 0%, 20%, 0.7);
  --white: hsl(0, 0%, 100%);
  --white-faded: hsla(0, 0%, 100%, 0.7);
  --background: var(--white);
  --text: var(--black);
  --text-faded: var(--black-faded);
  --bordercolor: hsl(0, 0%, 75%);

  --theme: 270;
  --primary: hsl(var(--theme), 100%, 50%);
  --primary-background: hsl(var(--theme), 100%, 95%);
  --primary-faded: hsla(var(--theme), 100%, 99%);

  --red: 0;
  --danger: hsl(var(--red), 100%, 50%);
  --danger-background: hsl(var(--red), 100%, 95%);
}

@media (max-width: 500px) {
  #root {
    /* font */
    --text-sm: 12px;
    --text-md: 14px;
    --text-lg: 20px;
    --text-xl: 24px;
  }
}
