.container {
  display: flex;
  flex-direction: column;
}

.forgotPasswordLink {
  color: var(--primary);
  font-weight: 500;
  font-size: var(--text-md);
  cursor: pointer;
  transition: transform 0.3s ease;
  text-decoration: none;
}

.button {
  margin-top: 8px;
}

.createAccount {
  text-align: center;
  font-size: var(--text-md);
  color: var(--text-faded);
  font-weight: 500;
  margin-top: 16px;
}

.signupLink {
  margin-left: 4px;
  color: var(--primary);
  cursor: pointer;
  text-decoration: none;
}
